*{
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* border: 2px solid red; */
    margin: 0;
    
}
.container {
    /* border: 1px solid red; */
    text-align: center;
}

.progress-container {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    width: 300px;
    max-width: 100%;
    position: relative;
    margin-bottom: 30px;
}
.progress {
    background-color: rgb(66, 193, 197);
    position: absolute;
    /* border: 3px solid black; */
    top: 50%;
    left: 0;
    height: 4px;
    width: 50%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease;
}