* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow-x: hidden;
    
}

h1 {
    margin: 10px;
}
.boxes .box {
    height: 200px;
    width: 200px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 10px;
    margin: 10px;
    transform: translateX(800%);
    transition: transform 0.4s ease;
}

.box:nth-of-type(even){
    transform: translateX(-800%);
}
.box.show {
    transform: translateX(0);
}

.box {
    font-size: 40px;
}