*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #162447;
}
body{
    /* border: 2px solid red; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.wrapper{
    width: 605px;
    /* border: 2px solid red; */
    background-color: white;
    border-radius: 15px;
    padding: 30px 30px 25px;
    /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; */
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.wrapper header{
    font-size: 35px;
    font-weight: bold;
    /* border: 2px solid red; */
    text-align: center;
}
.wrapper .content {
    margin: 35px 0;
}

.wrapper .content .quote-area{
    display: flex;
    justify-content: center;

}
.quote-area i{
    font-size: 15px;
}
.quote-area i:first-child{
    margin: 3px 10px 0 0;
}
.quote-area i:last-child{
    /* border: 1px solid red; */
    margin: 0px 0px 3px 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.quote-area .quote{
    font-size: 22px;
    text-align: center;
    /* word-break: break-all; */
}

.content .author {
    font-size: 22px;
    /* border: 2px solid red; */
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    font-style: italic;
}

.wrapper .btn {
    border-top: 1px solid black;
}

.btn .features {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.features ul{
    display: flex;
    list-style: none;
    
}

.features ul li{
    margin: 0 5px;
    height: 50px;
    width: 50px;
    /* border: 2px solid red; */
    color: var(--main-color);
    border: 2px solid var(--main-color);
    display: flex;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.features ul li:hover{
    background-color: rgb(45, 45, 207);
    color: white;

}
.features button{
    border: none;
    outline: none;
    padding: 12px;
    color: white;
    background-color: var(--main-color);
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in;
}

.features button:hover{
    color: white;
    background-color:  var(--main-color);
    font-weight: bold;
}

.features .loading {
    opacity: 0.6;
}
